*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/
app/src/main/play/
*.jks
*.keystore
.kotlin/
site/public/
site/resources/
site/.hugo_build.lock
